@model IndexViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<!--lecture6  12:00-->
<!--lecture6  show coupons-->
@if (Model.CouponS.Count() > 0)
{
    <div class="border row">
        <div class="carousel row" data-ride="carousel" data-interval="2500">
            <!--lecture6  11:19     data-ride اسمها اتريبيوت-->
            @for (int i = 0; i < Model.CouponS.Count(); i++)
            {


                var basE64 = Convert.ToBase64String(Model.CouponS.ToList()[i].Picture);<!--lecture6  16:13-->
                var imageSrc = string.Format("data:iamge/jpeg;base64,{0}", basE64); <!--lecture6  16:13-->


                if (i == 0)
                {
                    <div class="carousel-item active">
                        <img src="@imageSrc" height="100px" class="d-block w-100" />

                    </div>

                }
                else
                {
                    <div class="carousel-item">
                        <img src="@imageSrc" height="100px" class="d-block w-100" />

                    </div>

                }

            }



        </div>
    </div>

}
<br />
<br />
<!--lecture6  22:00-->
<!--lecture6 show categories-->
<div class="whiteBackGround container">
    <!--lecture6  22:00  now i will make foreach to find all categories or make loop on categories-->

    @foreach (var CateGory in Model.CategorieS)
    {

        var menuItEms = Model.MenItemS.Where(m => m.CATEGOry.Name.Equals(CateGory.Name));<!--lecture6  23:00   we will get all items for each categories-->


        <div class="row">    <!--1-->
            @if (menuItEms.Count() > 0)
            {


                <div class="col-12"> <!--2-->

                    <div class="row">

                        <h3 class="text-success"> @CateGory.Name </h3>    <!--lecture6  26:00-->
                    </div>
                    @foreach (var iteM in menuItEms)
                    {
                       
                        <div class="col-12 border border-info rounded" style="margin-top:10px;margin-bottom:10px;padding:10px">  <!--3-->
                        
                            <div class="row"> <!--100-->
                                <div class="col-md-3 col-sm-12">  <!--200-->
                                    <img src="@iteM.image" width="99%" style="border-radius: 20px; border: 5px solid #bbb9b9 "/>


                                </div>

                                <div class="col-md-9 col-sm-12">  <!--300-->
                                    <div class="row pr-3"> <!--1000-->
                                        <div class="col-8">  <!--2000-->
                                            <label class="text-primary">
                                                @iteM.Name    <!--lecture6  34:28 -->
                                            </label>
                                            @if (iteM.Spicnyness == "1")
                                            {
                                        <img src="~/images/greenpepper.jpg" title="Not Spicy" width="50px" />

                                            }
                                            else if (iteM.Spicnyness == "2")
                                            {
                                                <img src="~/images/Mild.jpg" title="Mild" style="width:50px" />

                                            }
                                            else if (iteM.Spicnyness == "3")
                                            {
                                                <img src="~/images/dishes three.jpg" title="HOOOT" width="50px" />

                                               

                                            }

                                        </div>
                                       
                                        <div class="col-4 text-right"style="color:maroon"> <!--3000-->
                                            <h4> $@iteM.Price</h4>
                                        </div>
                                    </div>

                                    <div class="row col-12 text-justify d-none d-md-block"> <!--A100000-->
                                            
                                            <p>@Html.Raw(@iteM.description)</p>  <!--lecture6 41:39-->
                                        
                                    </div>
                                <div class="col-md-3 col-sm-12 offset-md-9 text-right">
                                    <a asp-action="Details" class="btn btn-success form-control"asp-route-id="@iteM.ID">Details</a>
                                </div>
                                <div>

                                </div>



                                </div>
                            </div>




                            </div>

                    }

                </div>



            }



        </div>  //1

    }



</div>