@model IEnumerable<MenItem>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="whiteBackGround">
    <!-- lecture4 19:30 -->
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Menu Items List</h2>
        </div>

        <div class="col-6 text-right">
            <partial name="_CreateButtonPartail" />


        </div>
    </div>
    @if (Model.Count() == 0)
    {
        <p class="text-danger">No Menu Items....</p>
    }
    else
    {
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>
                    @Html.DisplayNameFor(m => m.Name)  <!-- lecture4 19:30 -->
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.CATEGOry.Name)      <!--  فى المحاضره عاملها كاتيجورى اى دى  lecture4 20:00 -->
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.SUBcategory.Name)   <!--  فى المحاضره عاملها صب كاتيجورى فقط-->

                <th>
                    @Html.DisplayNameFor(m => m.image)   <!--من عندى هو كان سايبها فاضيه-->
                </th>
                <th>



                </th>

            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td>

                        @Html.DisplayFor(m => item.Price)
                    </td>
                    <td>

                        @Html.DisplayFor(m => item.CATEGOry.Name)
                    </td>
                    <td>

                        @Html.DisplayFor(m => item.SUBcategory.Name)
                    </td>
                    <td>

                        <img src="@item.image"  width="50" />  <!--lecture4    1:05:00 -->


                    </td>

                    <td style="width:150px">
                        <partial name="_OperationsButtonPartial" model="item.ID" />

                    </td>
                </tr>
                }

            </table>
            }


        </div>

